<div class="banner">
<p>Wikinimous</p>
<p><%= link_to 'New article', new_article_path %></p>
</div>
<%= render "form", article: @article %>
<p>
<%= link_to 'Show', article_path(@article) %> | <%= link_to 'Back', articles_path %>
</p>
