<div class="banner">
<p>Wikinimous</p>
<p><%= link_to 'New article', new_article_path %></p>
</div>
  <% @articles.each do |article| %>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <p><%= article.content %></p>
  <% end %>
