<div class="banner navbar navbar-default">
<div class="container-fluid">
<p><%= link_to 'Wikinimous', articles_path %></p>
<p><%= link_to 'New article', new_article_path, :class=>"nav navbar-nav navbar-right" %></p>
</div>
</div>

<div class="content">
<% @articles.each do |article| %>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <p><%= article.content %></p>
  <% end %>
</div>
